* {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
}

form {
  display: flex;
  flex-direction: column;
  width: 30vw;
  margin: auto;
}
/**/
/* form > * { */
/*   margin: 5px 0; */
/*   box-sizing: border-box; */
/* } */

form > img {

}
